/* ------------------------------------------------------------
    STYLES
    
    1 ::::: BASE 
    Variables
    Mixins
    Reset
    Base

    2 ::::: LIB
    Forms
    Buttons
    Icons
    Tables

    3 ::::: RESPONSIVE
    Largedevices
    Mediumdevices
    Smalldevices

------------------------------------------------------------ */
/* ------------------------------------------------------------
   VARIABLES
------------------------------------------------------------ */
/* ------------------------------------------------------------
    BASE COLORS
------------------------------------------------------------ */
/* ------------------------------------------------------------
    MIXINS
------------------------------------------------------------ */
.center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerHorizontal {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* ------------------------------------------------------------
    ANIMATIONS
------------------------------------------------------------ */
a,
input,
button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* ------------------------------------------------------------
     RESET
------------------------------------------------------------ */
/* Body */
body,
html {
  -webkit-text-size-adjust: none;
  /* For iphone Landscape */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  /* For font looks antialiased */
  -moz-osx-font-smoothing: grayscale;
  /* Moz antialiased */
  text-rendering: optimizeLegibility;
  /* optimezy fonts */
  font-size: 16px;
  line-height: 25px;
  font-family: 'Work Sans', sans-serif;
  color: #000e1c;
}
/* headings */
h1,
h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
h4 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}
h5,
h6 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}
/* col reset */
.col-reset {
  padding: 0;
}
/* Placeholder */
/* firefox 19+ */
/* ie */
/* Selection */
::selection {
  background: #47d7ac;
  color: #fff;
}
::-moz-selection {
  background: #47d7ac;
  color: #fff;
}
/* ------------------------------------------------------------
   BASE
------------------------------------------------------------ */
/* shade */
.shade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(135deg, rgba(63, 77, 95, 0.1) 0%, rgba(63, 77, 95, 0.7) 100%);
}
/* ------------------------------------------------------------
    MAIN
------------------------------------------------------------ */
main {
  min-height: 100%;
  position: relative;
  width: 100%;
}
/* ------------------------------------------------------------
    HEADER
------------------------------------------------------------ */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 0;
}
header .row {
  width: 100%;
}
/* Logo */
.logo {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
.logo a {
  color: #fff;
  text-decoration: none;
}
.logo img {
  width: 20px;
  margin-right: 10px;
}
/* menu */
.navbar-collapse.menu ul {
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: flex-end;
}
.navbar-collapse.menu ul li {
  display: inline-block;
  margin: 0 0 0 20px;
}
.navbar-collapse.menu ul li a {
  text-decoration: none;
}
.navbar-collapse.menu ul li a:not(.btn) {
  color: #fff;
  padding-bottom: 10px;
}
.navbar-collapse.menu ul li a:not(.btn):hover {
  border-bottom: 2px solid #47d7ac;
}
.menu__btn {
  font-weight: 600;
}
/* ------------------------------------------------------------
    CONTENT
------------------------------------------------------------ */
/* Hero image */
.hero-image {
  width: 100%;
  background: url(../images/hero-image/hero-image.jpg) bottom center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.hero-image,
.hero-image .container {
  height: 250px;
}
.hero-image .container {
  z-index: 3;
  position: relative;
}
.hero__title {
  color: #fff;
  position: absolute;
  text-align: center;
  margin: 0;
  font-size: 48px;
  line-height: 52px;
  padding-top: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* color item */
.color-item {
  color: #47d7ac;
}
/* restaurant grid */
.restaurant-grid {
  width: 100%;
  padding: 40px 0;
}
.restaurant-grid .row > * {
  margin-bottom: 40px;
}
.restaurant__card {
  box-shadow: 0 10px 10px rgba(179, 187, 195, 0.31);
  border-color: #bec6db;
  height: 100%;
  padding-bottom: 60px;
}
.restaurant__card .card-header {
  padding: 5px 15px;
  background: #f5f6f7;
}
.restaurant__card .btn--share {
  margin-bottom: 10px;
}
.restaurant__info {
  width: 100%;
}
.restaurant__info p {
  margin-bottom: 5px;
}
.restaurant__info p:last-child {
  margin-bottom: 0;
}
.restaurant__action {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 15px;
}
.restaurant__action .btn {
  width: 48%;
  margin-right: 3%;
}
.restaurant__action .btn:last-child {
  margin-right: 0;
}
.restaurant__address strong {
  color: #7e8ba7;
}
/* Card */
.card-title {
  margin: 0;
}
/* raiting list */
.raiting--list {
  margin: 0;
  padding: 0;
  color: #9da6be;
}
.raiting--list.rating-1 li:first-child {
  color: #38b590;
}
.raiting--list.rating-2 li:nth-child(1),
.raiting--list.rating-2 li:nth-child(2) {
  color: #38b590;
}
.raiting--list.rating-3 li:nth-child(1),
.raiting--list.rating-3 li:nth-child(2),
.raiting--list.rating-3 li:nth-child(3) {
  color: #38b590;
}
.raiting--list.rating-4 li:nth-child(1),
.raiting--list.rating-4 li:nth-child(2),
.raiting--list.rating-4 li:nth-child(3),
.raiting--list.rating-4 li:nth-child(4) {
  color: #38b590;
}
.raiting--list.rating-5 li {
  color: #38b590;
}
.raiting--list li {
  display: inline-block;
  margin-right: 5px;
}
/* ------------------------------------------------------------
    FIX
------------------------------------------------------------ */
.fix {
  width: 100%;
  height: 150px;
}
/* ------------------------------------------------------------
    FOOTER
------------------------------------------------------------ */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #7e8ba7;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.footer__logo {
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
}
.footer__logo img {
  width: 40px;
}
.footer__logo span {
  display: block;
}
.footer__copy {
  color: #e8ebf1;
  font-size: 12px;
  margin: 0;
}
/* ------------------------------------------------------------
    FORMS
------------------------------------------------------------ */
/* ------------------------------------------------------------
   BUTTONS
------------------------------------------------------------ */
a {
  color: #47d7ac;
}
a:hover {
  color: #38b590;
}
/* btn */
.btn {
  display: inline-block;
  font-weight: 600;
}
.btn.btn--type1 {
  background: #47d7ac;
  color: #fff;
}
.btn.btn--type1:hover {
  background: #38b590;
}
.btn.btn--type2 {
  background: #003a70;
  color: #fff;
}
.btn.btn--type2:hover {
  background: #012d57;
}
.btn.btn--share {
  padding: 0;
  color: #003a70;
}
/* ------------------------------------------------------------
    ICONS
------------------------------------------------------------ */
/* ------------------------------------------------------------
    TABLES
------------------------------------------------------------ */
/* ------------------------------------------------------------
    LARGE DEVICES
------------------------------------------------------------ */
/* ------------------------------------------------------------
    MEDIUM DEVICES
------------------------------------------------------------ */
@media (max-width: 992px) {
  header .row {
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
  .menu {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding: 0;
  }
  .navbar-toggler {
    background: rgba(0, 0, 0, 0.6);
  }
  .navbar-toggler[aria-expanded="true"] {
    background: rgba(0, 0, 0, 0.8);
  }
  h1,
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 18px;
    line-height: 25px;
  }
  h4,
  h5,
  h6 {
    font-size: 16px;
    line-height: 25px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 40px;
  }
  .restaurant-grid .row > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fix {
    display: none;
  }
  footer {
    position: relative;
  }
}
@media (max-width: 768px) {
  .hero-image,
  .hero-image .container {
    height: 200px;
  }
  .hero__title {
    width: 100%;
  }
  .restaurant-grid .row > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* ------------------------------------------------------------
 SMALL DEVICES
------------------------------------------------------------ */
@media (max-width: 600px) {
  .hero-image,
  .hero-image .container {
    height: 180px;
  }
  .hero__title {
    font-size: 24px;
    line-height: 30px;
  }
  .restaurant-grid {
    padding: 20px 0 30px 0;
  }
  .restaurant-grid .row > *:last-child {
    margin-bottom: 0;
  }
}
